<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">New Section</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/sections" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="section[title]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="notification">Notification</label>
                <input class="form-control" type="text" id="notification" name="section[notification]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            
            <div class="mb-3">
                <label class="form-label" for="orderKey">Order Key</label>
                <input class="form-control" type="text" id="orderKey" name="section[orderKey]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="image">Image - Choose single image</label>
                <div class="form-control">
                    <input type="file" class="form-file-input" id="image" name="image" multiple>
                </div>
            </div>
            
            <div class="mb-3">
                <button class="btn btn-success px-5">Add Section</button>
                <a class="btn btn-primary px-5" href="/sections">All Sections</a>
            </div>
        </form>
        
    </div>
</div>