<% layout('layouts/boilerplate')%>


<div>
    <a href="pages/new">Add Page</a>
</div>

<div>
    <a href="/pages">All Pages</a>
</div>

<div>
    <a href="/categories/new">Add Category></a>
</div>

<div>
    <a href="/categories">All Categories</a>
</div>
